body {
    font-family: 'Montserrat', sans-serif;
}

#meet {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
    color: white;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

/* Top Section */

#title {
    background-color: #ff4c68;
}

.bbb {
    margin: 5% 3% 5% 0;
}

#big-img {
    width: 60%;
    transform: rotate(25deg);
}

.container-fluid {
    padding: 3% 15%;

}

/* Features */

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.col-lg-4 {
    padding: 5%;
}

.fontawesome-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.fontawesome-icon:hover {
    color: #ff4c68;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}